####                     Introduction

 In this project, I've worked with data from the 2017 NBA Season (a pretty exciting one) to perform Data Wrangling, and then some analysis.

I've started by performing some Data Wrangling techniques to join the data from the season with that of players. We'll then perform different modifications and cleaning tasks to make sure our data is ready for analysis.

Finally, we'll perform some analysis using Group By and Transform operations.

In [9]:
import pandas as pd
players_df = pd.read_csv('player_data.csv')
s2017_df = pd.read_csv('2017_season_data.csv')

#### Merging the data
Let's start by merging the data from the season with player's data.
Merge s2017_df and players_df with a left join

In [10]:
df = s2017_df.merge(players_df, how = 'left', left_on = 'Player', right_on = 'name')

In [11]:
# checking if there are any missmatches
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 60 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        605 non-null    float64
 1   Player      605 non-null    object
 2   Pos         605 non-null    object
 3   Age         605 non-null    float64
 4   Tm          605 non-null    object
 5   G           605 non-null    float64
 6   GS          605 non-null    float64
 7   MP          605 non-null    float64
 8   PER         605 non-null    float64
 9   TS%         603 non-null    float64
 10  3PAr        603 non-null    float64
 11  FTr         603 non-null    float64
 12  ORB%        605 non-null    float64
 13  DRB%        605 non-null    float64
 14  TRB%        605 non-null    float64
 15  AST%        605 non-null    float64
 16  STL%        605 non-null    float64
 17  BLK%        605 non-null    float64
 18  TOV%        603 non-null    float64
 19  USG%        605 non-null    float64
 20  blanl       0 non-null      float64
 21  OWS         605 non-null    float64
 22  DWS         605 non-null    float64
 23  WS          605 non-null    float64
 24  WS/48       605 non-null    float64
 25  blank2      0 non-null      float64
 26  OBPM        605 non-null    float64
 27  DBPM        605 non-null    float64
 28  BPM         605 non-null    float64
 29  VORP        605 non-null    float64
 30  FG          605 non-null    float64
 31  FGA         605 non-null    float64
 32  FG%         603 non-null    float64
 33  3P          605 non-null    float64
 34  3PA         605 non-null    float64
 35  3P%         558 non-null    float64
 36  2P          605 non-null    float64
 37  2PA         605 non-null    float64
 38  2P%         600 non-null    float64
 39  eFG%        603 non-null    float64
 40  FT          605 non-null    float64
 41  FTA         605 non-null    float64
 42  FT%         581 non-null    float64
 43  ORB         605 non-null    float64
 44  DRB         605 non-null    float64
 45  TRB         605 non-null    float64
 46  AST         605 non-null    float64
 47  STL         605 non-null    float64
 48  BLK         605 non-null    float64
 49  TOV         605 non-null    float64
 50  PF          605 non-null    float64
 51  PTS         605 non-null    float64
 52  name        601 non-null    object
 53  year_start  601 non-null    float64
 54  year_end    601 non-null    float64
 55  position    601 non-null    object
 56  height      601 non-null    object
 57  weight      601 non-null    float64
 58  birth_date  601 non-null    object
 59  college     487 non-null    object
dtypes: float64(52), object(8)
memory usage: 283.7+ KB

In [12]:
#check how many missmathces there are under each row.
df.isna().sum()

Year            0
Player          0
Pos             0
Age             0
Tm              0
G               0
GS              0
MP              0
PER             0
TS%             2
3PAr            2
FTr             2
ORB%            0
DRB%            0
TRB%            0
AST%            0
STL%            0
BLK%            0
TOV%            2
USG%            0
blanl         605
OWS             0
DWS             0
WS              0
WS/48           0
blank2        605
OBPM            0
DBPM            0
BPM             0
VORP            0
FG              0
FGA             0
FG%             2
3P              0
3PA             0
3P%            47
2P              0
2PA             0
2P%             5
eFG%            2
FT              0
FTA             0
FT%            24
ORB             0
DRB             0
TRB             0
AST             0
STL             0
BLK             0
TOV             0
PF              0
PTS             0
name            4
year_start      4
year_end        4
position        4
height          4
weight          4
birth_date      4
college       118
dtype: int64

In [16]:
df_copy=df[df['Player']=='Luc Mbah']
df_copy.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,PF,PTS,name,year_start,year_end,position,height,weight,birth_date,college
349,2017.0,Luc Mbah,SF,30.0,LAC,80.0,76.0,1787.0,10.3,0.581,...,122.0,484.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN